﻿<body>
    <link rel="stylesheet" href="~/Content/Styles/FormCreatorStyle.css" />

    <div id="root"> 
        
    </div>
    <script src="~/Scripts/jsx/ReactElement.jsx"></script>
    <script src="~/Scripts/jsx/ReactModal.jsx"></script>
    <script src="~/Scripts/jsx/FormCreation.jsx"></script>
</body>
