﻿@model IEnumerable<RecuitmentApp.Models.User>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.ActionLink("Zaakceptuj użytkownika", "AcceptUser", new {id=item.UserID }) 
        </td>
        <td>
            @Html.ActionLink("Usuń użytkownika", "DeleteUser", new { id = item.UserID })
        </td>
    </tr>
}

</table>
