﻿@model RecuitmentApp.Models.EmailsModel
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Greeting)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Confirm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Accept)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deny)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Signature)
        </th>
        <th></th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.Greeting)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Confirm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Accept)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Deny)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Signature)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id= Model.Id })
        </td>
    </tr>

</table>
