﻿@model RecuitmentApp.Models.DynamicFormModel
<body>
    <link rel="stylesheet" href="~/Content/Styles/FormCreatorStyle.css" />

    <script>
        $(function () {
            var len = 0;
            $("label.control").each(function () {
                var tekst = $(this).text().toString();
                if (tekst.length > len)
                    len = tekst.length;
            });

            $("div.control__indicator").each(function () {
                $(this).css('left', len * 10);
            });
        });
    </script>

    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>@Model.formTitle</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            
            <div>
                @Html.HiddenFor(model => model.RecruitmentId)
            </div>

            <div class="group">
                <input id="Email" name="Email" type="email" value="" required/>
                <span class="highlight"></span><span class="bar"></span>
                <label class="textLabel" for="Email">Email</label>
            </div>
            <div class="group">
                <input id="Imie" name="Imie" type="text" value="" required/>
                <span class="highlight"></span><span class="bar"></span>
                <label class="textLabel" for="Imie">Imię</label>
            </div>
            <div class="group">
                <input id="Nazwisko" name="Nazwisko" type="text" value="" required/>
                <span class="highlight"></span><span class="bar"></span>
                <label class="textLabel" for="Nazwisko">Nazwisko</label>
            </div>
            <div class="group">
                <input id="NrTelefonu" name="NrTelefonu" type="text" value="" required/>
                <span class="highlight"></span><span class="bar"></span>
                <label class="textLabel" for="NrTelefonu">Numer Telefonu</label>
            </div>


            @Html.Raw(Model.formHtml)
    
            <div class="group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Aplikuj" class="btn btn-submit" />
                </div>
            </div>
        </div>
    }

</body>