﻿#bbb{
    width: 100%;
}

#main-stuff{
    display:inline-block;
    align-items:center;
    width: 100%;
}

#small-stuff{
    width: 100%;
    clear: both;
}

.box{
    width: 30%;
    min-height: 300px;
    background: #ECEFF1;
    padding: 1px 10px;
    margin: 5px;
    white-space: pre-line;
    float: left;
}

.box-small{
    width: 45%;
    margin: 5px;
    background: #ECEFF1;
    padding: 1px 10px;
    float: left;
}

h1 {
    padding: 20px;
    background: #ECEFDD;
}

h2 {
    padding: 10px 20px;
    background: #546E7A;
    color: #ffffff;
}

h3 {
    padding: 10px 20px;
    background: #c0e0ef;
    color: #000;
}

.box-small h2 {
    padding: 5px 10px;
    font-size: 20px;
    height: 40px;
    background: #546E7A;
    color: #ffffff;
}

#button {
    position:relative;
    margin-top: 10px;
    margin-left: 50%;
    float: left;
    clear: both;
    bottom:0;
}
