﻿@model RecuitmentApp.Models.User

@{
    ViewBag.Title = "Index";
}

<div>
    @using (Html.BeginForm())
    {
        <div class="form-horizontal">
            <h4>Zaloguj sie</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Zaloguj" class="btn btn-default" />
                    <input type="button" value="Zarejestruj się" class="btn btn-default" onclick="location.href='@Url.Action("Register", "Login")'">
                </div>
            </div>
        </div>
    }
</div>



