﻿<body>
    <script src="~/Scripts/JQuery/Utils.js"></script>

    <input id="recruitmentsSearch" type="text" placeholder="Wyszukaj rekrutacje" style="margin-bottom:5px" onkeyup="filterRecruitments(this)"/>
    <div id="root">

    </div>
    <script src="~/Scripts/jsx/RecruitmentsList.jsx"></script>
    <script src="~/Scripts/jsx/RecruitmentsBox.jsx"></script>
</body>

