﻿@model RecuitmentApp.Models.RecruitmentModel

<link rel="stylesheet" href="~/Content/Styles/RecruitmentStyle.css" />
<link rel="stylesheet" href="~/Content/Styles/FormStyle.css" />

<div id="main-stuff">
    <h1>@Model.formDocument.Tytul</h1>
    
    <div id="big-stuff">
        <div id="opisRekrutacji" class="box">
            <h2>Opis stanowiska</h2>
            @Model.formDocument.Opis
        </div>

        <div id="opisWymagan" class="box">
            <h2>Wymagania</h2>
            @Model.formDocument.Wymagania
        </div>

        <div id="opisOferty" class="box">
            <h2>Oferujemy</h2>
            @Model.formDocument.Oferujemy
        </div>
    </div>

    <div id="small-stuff">
        <div id="dataKonca" class="box-small">
            <h2>Data końca rekrutacji</h2>
            @Model.EndDate
        </div>
        <div id="opisZarobkow" class="box-small">
            <h2>Proponowane zarobki</h2>
            @Model.formDocument.Zarobki
        </div>

        <input type="button" id="button" class="btn" value="Aplikuj" onclick="location.href='@Url.Action("Index", "SendingApplication", new { whichRecruitment = Model.Id})'">
    </div>

</div>


