﻿<body>
    <script src="~/Scripts/JQuery/Utils.js"></script>

    <input type="text" placeholder="Wyszukaj zgłoszenia" onkeyup="filterAppliactions(this)" style="margin:5px 0px;" />

    <div id="root">
    </div>

    <script src="~/Scripts/jsx/ApplicationsIndex.jsx"></script>
</body>