﻿<body>
    <link rel="stylesheet" href="~/Content/Styles/RecruitmentStyle.css" />

    <div id="root" data-param="@ViewBag.whichApp">
    </div>

    <script src="~/Scripts/jsx/ApplicationDetails.jsx"></script>
</body>

