﻿<body>
    <script src="~/Scripts/JQuery/Utils.js" ></script>
    <link rel="stylesheet" href="~/Content/Styles/SelectionStyle.css" />

    <div>
        <div>
            <input type="button" value="Dodaj rekrutację" onclick="location.href='@Url.Action("Index", "FormCreator")'">
            <input type="text" placeholder="Wyszukaj rekrutacje" onkeyup="filterAdminRecruitments(this)" style="margin:5px 0px;"/>
            <div className="select">
                <select onchange="filterRecruitmentActive(this)">
                    <option value=0>-Filtruj aktywne-</option>
                    <option value="active">Aktywne</option>
                    <option value="inactive">Nieaktywne</option>
                </select>
                <div className="select__arrow"></div>
            </div>
        </div>
        <div id="root">

        </div>
    </div>

    @*<script src="~/Scripts/jsx/ReactElement.jsx"></script>*@
    <script src="~/Scripts/jsx/RecruiterJSX/RecruitmentsListWithEdits.jsx"></script>
    <script src="~/Scripts/jsx/RecruitmentsBox.jsx"></script>
</body>



