﻿@model RecuitmentApp.Models.RecruitmentModel

<link rel="stylesheet" href="~/Content/Styles/RecruitmentStyle.css" />

<div id="bbb">
    <h1>@Model.formDocument.Tytul</h1>
    <div id="small-stuff">
        <div id="dataKonca" class="box-small">
            <h2>Data końca</h2>
            @Model.EndDate
        </div>

        <div id="opisZarobkow" class="box-small">
            <h2>Proponowane zarobki</h2>
            @Model.formDocument.Zarobki
        </div>
    </div>

        <div id="opisRekrutacji" class="box">
            <h2>Opis stanowiska</h2>
            @Model.formDocument.Opis
        </div>

        <div id="opisWymagan" class="box">
            <h2>Wymagania</h2>
            @Model.formDocument.Wymagania
        </div>

        <div id="opisOferty" class="box">
            <h2>Oferujemy</h2>
            @Model.formDocument.Oferujemy
        </div>

        <input type="button" value="Edytuj" onclick="location.href='@Url.Action("EditRecruitment", "RecruiterPanel", new { whichRecruitment = @Model.Id })'" />
        @if (Model.IsOpen)
        {
            <input type="button" value="Zakończ rekrutację" onclick="location.href='@Url.Action("CloseOpenRecruitment", "RecruiterPanel", new { whichRecruitment = @Model.Id, isOpen = false})'" />
        }
        else
        {
            <input type="button" value="Aktywuj rekrutację" onclick="location.href='@Url.Action("CloseOpenRecruitment", "RecruiterPanel", new { whichRecruitment = @Model.Id, isOpen = true})'" />
        }
    </div>


