﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recruitment App</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

    <link rel="stylesheet" href="~/Content/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Styles/SharedStyle.css" />

    <link rel="stylesheet" href="~/Content/Styles/FormStyle.css" />
    <link rel="stylesheet" href="~/Content/Styles/SelectionStyle.css" />

    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/react/react.js"></script>
    <script src="~/Scripts/react/react-dom.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    @using RecuitmentApp.Utils
    <div id="navBar">
        <ul class="nav nav-tabs">
            <li role="presentation" class="@Html.IsActive(actions: "Index", controllers: "Recruitments")"><a href="@Url.Action("Index","Recruitments")">Strona główna</a></li>
            @if(Request.IsAuthenticated)
            {
                <li role="presentation" class="@Html.IsActive(actions: "IndexRecruitments", controllers: "RecruiterPanel")"><a href="@Url.Action("IndexRecruitments", "RecruiterPanel")">Rekrutacje</a></li>
                <li role="presentation" class="@Html.IsActive(actions: "ApplicationsIndex", controllers: "RecruiterPanel")"><a href="@Url.Action("ApplicationsIndex","RecruiterPanel")">Zgłoszenia</a></li>
                <li role="presentation" class="@Html.IsActive(actions: "Index", controllers: "Admin")"><a href="@Url.Action("Index","Admin")">Zarządzaj mailami</a></li>
                <li role="presentation" class="@Html.IsActive(actions: "IndexUsers", controllers: "Admin")"><a href="@Url.Action("IndexUsers","Admin")">Zarządzaj użytkownikami</a></li>
            }
        </ul>
        <ul class="nav nav-tabs">
            <li role="presentation" class="@Html.IsActive(actions: "LoginPage", controllers: "Login")">
                <a href="@Url.Action("LoginPage", "Login")">Login</a>
            </li>
        </ul>
    </div>

    <div class="container body-content">

        @RenderBody()
        <hr />
        <footer class="footer">
            <p>&copy; @DateTime.Now.Year - Recruitment Application by Maciej Packiewicz</p>
        </footer>
    </div>
</body>
</html>
